version: "3.9"

services:
  app:
    build:
      dockerfile: Dockerfile
      context: .
    command: /bin/sh -c "while sleep 1000; do :; done"
    ports:
      - 4000:4000
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: 123456
      ELASTICSEARCH_HOST: elasticsearch
      MIX_ENV: test
    volumes:
      - .:/app

  postgres:
    image: postgres:13.0
    environment:
      POSTGRES_PASSWORD: 123456
    ports:
      - 5432:5432
    volumes:
      - postgres_volume:/var/lib/postgresql/data

  elasticsearch:
    image: elasticsearch:7.8.1
    ulimits:
      memlock:
        soft: -1
        hard: -1
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: '-Xms256m -Xmx256m'
      network.bind_host: 0.0.0.0
      network.host: 0.0.0.0
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://elasticsearch:9200/"]
      start_period: 30s
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - elasticsearch_volume:/usr/share/elasticsearch/data

  kibana:
    image: kibana:7.8.1
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch
    ports:
      - 5601:5601

volumes:
  postgres_volume:
  elasticsearch_volume: